streamlit

langchain
langchain-core
langchain-community
langchain-huggingface
langgraph
langgraph-checkpoint-sqlite

langchain-google-genai
google-generativeai

faiss-cpu
sentence-transformers

duckduckgo-search
wikipedia

pypdf
pillow

python-dotenv

typing-extensions