langchain
langchain-core
langchain-community

langchain-groq

langchain-huggingface

sentence-transformers
transformers
huggingface-hub
accelerate

python-dotenv

numpy
scikit-learn

torch
torchvision
torchaudio

chromadb
faiss-cpu

youtube-transcript-api

gradio